#Founder-section{
    background-color: white;
    width: 100%;
    /* height: 100vh; */
    padding: 3rem 0rem;
}
#Founder-section hr{
    height: 7px;
    width: 100px;
    margin: auto;
    border-radius: 20px;
    background-color: #D4F604;
    opacity: 1;
    border: 1px solid #D4F604;
}
.right-side-container div{
   border-bottom: 1px solid rgb(196, 196, 196);
   border-top: none;
   border-right: none;
   border-left: none;
   padding-bottom: 40px;
   padding-top: 30px;
   padding-left: 20px;

}
.right-side-container div:hover{
    border-bottom: 1px solid rgb(196, 196, 196);
    background-color: rgb(243, 243, 243);
    border-top: none;
    border-right: none;
    border-left: none;
    padding-bottom: 40px;
    padding-top: 30px;
    padding-left: 20px;
 
 }
.right-side-container h2{
    font-size: 20px;
    font-weight: 700;  
}
.founder-info{
    background-color: #000000;
    border-radius: 20px;
    /* height: 60vh; */
    width: 100%;

}
.quote-icon{
    color: #D4F604;
    font-size: 3rem;
}
.content-founder{
    position: absolute;
    bottom: 0;
   /* margin-top: 7rem; */
}
.content-founder p,
.content-founder span {
    color: white;
}
@media (max-width:800px){
    .content-founder{
        position: static;
        bottom: 0;
       /* margin-top: 7rem; */
    }
}