#About-section {
    background-color: rgb(27, 27, 27);
    color: white;
    height: 100%;
    width: 100%;
}
section{
    background-color: black;
}

.top-about-section {
    /* height: 70vh; */
    padding: 10rem 7rem;
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: #f2f2f2; */
    /* padding: 0rem 15rem; */
    text-align: center;

}

@media (min-width:900px) and (max-width:3000px) {
    .top-about-section {
        /* height: 70vh; */
        width: 100%;
        /* background-color: #f2f2f2; */
        padding: 10rem 7rem;
        text-align: center;

    }
}

@media (max-width:890px){
    .top-about-section {
        /* height: 70vh; */
        width: 100%;
        /* background-color: #f2f2f2; */
        padding: 10rem 0rem;
        text-align: center;

    }
}

.section-top-content {
    text-align: center;
}

.section-top-content .top-span {
    font-size: 16px;
    font-weight: 600;

}

.section-top-content h2 {
    font-size: 40px;
}

.section-top-content .about-tagline p {
    font-size: 20px;
    color: #ffffff;
}
.about-card:hover{
    background-color: rgb(27, 27, 27);
    transition: .5s;
}

.about-card .about-icon-container img {
    width: 40px;
    height: 40px;
    aspect-ratio: 3/2;
    object-fit: contain;
    background-color: #D4F604;
    border-radius: 50%;
    padding: 8px;
    margin-bottom: 10px;
}

.about-card h3 {
    font-size: 23px;
    margin-bottom: 10px;
}

.about-card p {
    font-size: 18px;
    color: #ffffff;
}

.about-card {
    padding: 40px;
}

@media (max-width:1000px) {
    .about-card {
        padding: 0px;
    }
}

/* Closed accordion icon */
.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    transition: var(--bs-accordion-btn-icon-transition);
}

/* Open accordion icon */
.accordion-button:not(.collapsed)::after {
    background-image: url("../pictures/About-icons/close.png");
    /* Add styles for the open icon as needed */
}

/* Closed accordion icon */
.accordion-button.collapsed::after {
    background-image: url("../pictures/About-icons/remove.png");
    /* background-size: 30px; */
    /* Add styles for the closed icon as needed */
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
}

.accordion-body {
    /* background-color: #F2F2F2; */
    border: none;
    padding: 0px;
    font-size: 18px;
    padding: 20px 0px;
    color: #ffffff;
}

.accordion-header {
    background-color: #F2F2F2;
    border: none;
}

.accordion {
    --bs-accordion-border-color: none;
}

.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed,
.accordion-item:first-of-type>.accordion-header .accordion-button.collapsed {
    background-color: black;
    color: white;
}

.accordion-item:last-of-type>.accordion-header .accordion-button,
.accordion-item:first-of-type>.accordion-header .accordion-button {
    padding: 0px;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px;
    font-size: 23px;
    color: black;
    text-align: left;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}

.accordion .accordion-item {
    padding: 50px 0px;
    border-bottom: 1px solid rgb(27, 27, 27);
    background-color: transparent;
    border-radius: 0px;
}

.accordion-item:first-of-type {
    border-top: 1px solid black;
}

#accordion h1 {
    margin-bottom: 30px;
    font-size: 40px;
}

.accordion-button:not(.collapsed) {
    color: rgb(255, 255, 255);
    background-color: black;
}

.first {
    display: block;
}

.second {
    display: none;
}

.padding-section {
    display: block;
}
.count-show{
    display: none;
}
.accordion-title button{
    font-size: 18px;
    font-weight: 500;
    background-color: black;
    color: white;
}
.FAQS-tagline-mobile{
    display: none;
}
.FAQS-heading-mobile{
    display: none;

}
#accordion .input-group{
    display: none;
}
@media (max-width:700px) {
 #FAQS-heading-pc{
    text-align: center;
    font-size: 36px;
 }
   
    .FAQS-tagline-mobile{
        display: block;
        text-align: center;
        font-size: 18px;
    }
    .FAQS-heading-mobile{
        display: block;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
    }
    .count-show{
        display: block;
    }
    .first {
        display: none;
    }

    .padding-section {
        display: none;
    }

    .second {
        margin-top: 50px;
        display: block;
    }

    .section-top-content h2 {
        font-size: 25px;
    }

    .section-top-content .about-tagline p {
        font-size: 15px;
        padding: 0px 20px;
    }

    .section-top-content .top-span {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    /* Open accordion icon */
    .accordion-button:not(.collapsed)::after {
        background-image: url("../pictures/About-icons/close.png");
        /* Add styles for the open icon as needed */
        position: absolute;
        margin-top: -8rem;
        right: 0;
    }


    /* Closed accordion icon */
    .accordion-button.collapsed::after {
        background-image: url("../pictures/About-icons/remove.png");
        /* background-size: 30px; */
        /* Add styles for the closed icon as needed */
        position: absolute;
        margin-top: -8rem;
        right: 0;
    }
    .accordion-title button{
        font-size: 18px;
        font-weight: 700;
    }
    .accordion-body {
        /* background-color: #F2F2F2; */
        border: none;
        padding: 0px;
        font-size: 16px;
        padding: 20px 0px;
        color: #ffffff;
    }
    #accordion .input-group{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px 0px;
        border: 1px solid #D0D5DD;
        background-color: white;
        border-radius: 8px;
    }
    #accordion .input-group i{
        width: 10%;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #606060;
        
    }
   
    #accordion .input-group input{
        border: none;
        width: 90%;
        height: 44px;
        background-color: transparent;
    }
    #accordion .input-group input:focus,
    #accordion .input-group input:active{
        border: none;
        outline: none;
        box-shadow: none;
    }
}
