#upload-form :where(.css-11xg00t).ant-form-item .ant-form-item-label{
    text-align: start;
}

#upload-form :where(.css-11xg00t).ant-col-8{
    --ant-display: block;
    display: block;
    /* display: var(--ant-display); */
    /* flex: 0 0 33.33333333333333%; */
    /* max-width: 33.33333333333333%;*/
}

#submit-btn {
    background-color: rgb(212, 246, 4);
    color: black;
    width: 200px;
}

.upload-img-container {
    width: 100%;
    /* height: 300px; */
    overflow: hidden;
    display: flex;
}

.upload-img-container img {
    width: 100%;
}

#upload-form :where(.css-11xg00t).ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
    display: none;
}
#upload-form :where(.css-11xg00t).ant-form-item .ant-form-item-label >label{
    color: white;
}
#upload-form :where(.css-dev-only-do-not-override-11xg00t).ant-form-item .ant-form-item-label >label{
    color: white;
}
#upload-form p{
    color: white;
}

#upload-form .ql-editor ol li:not(.ql-direction-rtl){
    font-size: 18px;
    color: white;
}