.team-section-hero {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0rem 5rem;
}

.team-section-hero2 img {
    width: 100%;
}

.team-section-hero2 {
    padding: 2rem 2rem 2rem 0rem;
}

.team-section-padding {
    padding: 2rem 0rem;
}

.team-section-hero h2 {
    font-size: 40px;
}

.team-section-hero p {
    font-size: 20px;
}

.team-section-hero2 img:nth-child(1) {
    display: block;
}

.team-section-hero2 img:nth-child(2) {
    display: none;
}

.only-for-pc {
    display: block;
}

.only-for-mobile {
    display: none;
}

.only-mobile-heading {
    display: none;
}

.only-pc-heading {
    display: block;
}

.team-navigation .swiper-button-next:after {
    content: 'next';
    background: #D4F604;
    color: rgb(0, 0, 0);
    font-size: 27px;
    padding: 10px;
    border-radius: 2px;
}
.team-navigation .swiper-button-prev:after {
    content: 'prev';
    background: #D4F604;
    color: rgb(0, 0, 0);
    font-size: 27px;
    padding: 10px;
    border-radius: 2px;
}
.values-boxes{
    padding: 10px 20px;
    border-bottom: 1px solid rgb(50, 50, 50);
    margin: 0px 10px;
}
.values-container{
    display: flex;
    flex-direction: row;
}
#ourvalues-viewpc{
    display: block;
    display: flex;
}
.ourvalues-viewmobile{
    display: none;
    
}
@media (max-width:700px) {
    .tab-buttons .ant-btn{
        width: 150px;
        height: 40px;
    }
    #ourvalues-viewpc{
        display: none;
        /* display: flex; */
    }
    .ourvalues-viewmobile{
        display: block;
    }
    .tab-buttons{
        margin-bottom: 30px;
    }
    /* .tab-buttons :where(.css-dev-only-do-not-override-11xg00t).ant-btn-primary{
        background-color: #D4F604;
    } */
    .values-container{
        display: flex;
        flex-direction: column;
    }
    .team-navigation .swiper-button-next:after {
        content: 'next';
        background: #D4F604;
        color: rgb(0, 0, 0);
        font-size: 27px;
        padding: 10px;
        border-radius: 2px;
        display: none;
    }
    .team-navigation .swiper-button-prev:after {
        content: 'prev';
        background: #D4F604;
        color: rgb(0, 0, 0);
        font-size: 27px;
        padding: 10px;
        border-radius: 2px;
        display: none;
    }
    .team-section-hero {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0rem 0rem;
    }

    .team-section-hero2 img:nth-child(1) {
        display: none;
    }

    .team-section-hero2 img:nth-child(2) {
        display: block;
    }

    .team-section-hero2 {
        padding: 0rem 0rem 0rem 0rem;
    }

    .only-for-pc {
        display: none;
    }

    .only-for-mobile {
        display: block;
    }

    .team-hr {
        height: 8px;
        width: 100px;
        border-radius: 20px;
        opacity: 1;
        background-color: #D4F604;
        border: none;
    }

    .only-mobile-heading {
        display: block;
    }

    .only-pc-heading {
        display: none;
    }
}

@media (max-width:900px) {
    .team-section-hero {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0rem 1rem;
    }

}

.team-card .team-Social_handles div {
    display: flex;
    margin-top: 20px;
}

.team-card .team-Social_handles div i {
    font-size: 20px;
    color: white;
    border: 1px solid rgb(27, 27, 27);
    border-radius: 50%;
    padding: 5px;
    transition: .5s;
}

.team-card:hover .team-Social_handles div i {
    font-size: 20px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(27, 27, 27);
    background-color: #D4F604;
    border-radius: 50%;
    transition: .5s;
    padding: 5px;
}

.team-card-footer {
    background-color: rgb(27, 27, 27);
    padding: 20px 10px;
}

.team-card:hover .team-card-footer {
    background-color: rgb(27, 27, 27);
    padding: 20px 10px;
    border-bottom: 1px solid #D4F604;
}

.swiper-pagination-bullet-active {
    background-color: white;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    color: white;
    width: 20px;
    background: white;
    height: 3px;
    border-radius: 0px;
}

.swiper-pagination-bullet-active {
    background-color: white;
}