.cards-section .row .col-lg-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: white; */
    /* margin: 20px 0px; */
    padding: 0px;



}

.cards-section .row .col-lg-3 img {
    width: 100%;
}

.cards-section .footer-card h3 {
    text-align: start;
}

.cards-section .row .col-lg-3 .content-section {
    background-color: white;
    /* height: 70vh; */
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 10px;

}

.Card-title {
    font-size: 18px;
    font-weight: 600;
}

.cards-section .footer-card {
    padding: 30px 20px;
    height: 28vh;
    position: relative;
}

@media (min-width:1300px) and (max-width:3000px) {
    .cards-section .footer-card {
        padding: 30px 20px;
        height: 20vh;
        position: relative;
    }
}

.cards-section .footer-card a {
    font-size: 12px;
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 30px;
    left: 20px;
}

.cards-section .footer-card a {

    font-size: 12px;
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-weight: 600;
    z-index: 22;
}

.cards-section .footer-card .button-animation span {
    height: 40px;
    width: 20px;
    position: absolute;
    bottom: 20px;
    left: 10px;
    background-color: #d6f60428;
    border-radius: 20px;
    transition: .5s;
    /* width: 100%; */
}

.cards-section .footer-card:hover .button-animation span {
    height: 40px;
    width: 83px;
    transition: .5s;
    position: absolute;
    bottom: 20px;
    left: 10px;
    background-color: #d6f6045c;
    border-radius: 20px;
    /* width: 100%; */
}

.owner-quote .col-lg-4,
.owner-quote .col-lg-8 {
    padding: 0px;
}

.owner-quote .inside-content1 {
    padding-left: 10px;
}

.owner-quote .inside-content2 {
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;

}

.owner-quote .inside-content2 .parent-div {

    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.owner-quote .inside-content2 .parent-div div {
    width: 100%;
    padding: 0rem 3rem;
    color: white;
}
@media (max-width:680px){
    .owner-quote .inside-content2 .parent-div div {
        width: 100%;
        padding: 3rem 1rem;
        color: white;
    }
}
.owner-quote .inside-content2 .parent-div div span{
    font-weight: 500;
    margin-bottom: 3rem;
}
.owner-quote .inside-content2 .parent-div div h1{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 3rem;
}
.owner-quote .inside-content2 .parent-div div a{
    text-decoration: none;
    color: white;
}

@media (max-width:768px) {
    .owner-quote .inside-content1 {
        padding-left: 0px;
    }

    .owner-quote .inside-content2 {
        padding-right: 0px;
    }

    .owner-quote .inside-content2 div {

        background-color: black;
    }

    .owner-quote {
        margin: 0px 10px;
    }
}

/* #Owner_info-content{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.section-padding{
    padding: 3rem 0rem;
}
.Infomation-cards .row .col-lg-6 div{
    background-color: white;
    padding: 20px 30px;
    margin: 20px 0px;
    position: relative;
}
.Infomation-cards .row .col-lg-6 div h5{
    font-weight: 700;
}
.Infomation-cards .row .col-lg-6 .read-more-btn span{
    position: absolute;
    background-color: #d6f60448;
    height: 40px;
    width: 30px;
    border-radius: 20px;
    left: -10px;
    bottom: -10px;
    transition: .5s;
    color: black;
}
.Infomation-cards .row .col-lg-6 .read-more-btn a{
    color: black;
    z-index: 22;
}
.Infomation-cards .row .col-lg-6 .read-more-btn:hover a{
    color: black;
}
.Infomation-cards .row .col-lg-6 .read-more-btn:hover span{
    position: absolute;
    background-color: #d6f60448;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    left: -10px;
    bottom: -10px;
    color: black;
    transition: .5s;
}

.parent-div{
    position: relative;
}
.button-animation-without-absolute{
    position: relative;
}
.button-animation-without-absolute span{
    background-color: #d6f60428;
    width: 20px;
    height: 40px;
    position: absolute;
    bottom: -8px;
    border-radius: 20px;
    left: -10px;
    transition: .5s;
}

.button-animation-without-absolute:hover span{
    background-color: #d6f60428;
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: -8px;
    border-radius: 20px;
    left: -10px;
    transition: .5s;
}
.section-heading-best-value{
    font-size: 32px;
    text-align: center;
}