#footer-card h3 {
    text-align: start;
}

.cards-section .content-section {
    background-color: white;
    /* height: 70vh; */
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 10px;

}

.Card-title {
    font-size: 18px;
    font-weight: 600;
}

#footer-card {
    padding: 30px 20px;
    height: 28vh;
    position: relative;
    background-color: rgb(27, 27, 27);
    color: white;
}

@media (min-width:1300px) and (max-width:3000px) {
    #footer-card {
        padding: 30px 20px;
        height: 23vh;
        position: relative;
    }
}

@media (max-width:800px) {
    #footer-card {
        padding: 30px 20px;
        height: 20vh;
        position: relative;
    }
}

.content-section img {
    width: 100%;
}

/* #footer-card a {
    font-size: 14px;
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 30px;
    left: 20px;
} */

#footer-card a {

    font-size: 14px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-weight: 600;
    z-index: 22;
    display: flex;
    align-items: center;
}

#content-section .button-animation span {
    height: 2px;
    width: 20px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: transparent;
    border-radius: 20px;
    transition: .5s;
    /* width: 100%; */
    color: white;
}

#content-section:hover .button-animation span {
    height: 2px;
    width: 70px;
    transition: .5s;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #d6f604;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    /* width: 100%; */
}
#content-section:hover .button-animation a{
    color: rgb(255, 255, 255);
    transition: .5s;
}

@media (max-width:778px) {
    .blogs-section-pc {
        display: none;
    }
}

.owner-quote .col-lg-4,
.owner-quote .col-lg-8 {
    padding: 0px;
}

.owner-quote .inside-content1 {
    padding-left: 10px;
}

.owner-quote .inside-content2 {
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;

}

.owner-quote .inside-content2 .parent-div {

    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.owner-quote .inside-content2 .parent-div div {
    width: 100%;
    padding: 0.5rem 3rem;
    color: white;
}

@media (max-width:680px) {
    .owner-quote .inside-content2 .parent-div div {
        width: 100%;
        padding: 3rem 1rem;
        color: white;
    }
}

.owner-quote .inside-content2 .parent-div div span {
    font-weight: 500;
    margin-bottom: 3rem;
}

.owner-quote .inside-content2 .parent-div div h1 {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 3rem;
}

.owner-quote .inside-content2 .parent-div div a {
    text-decoration: none;
    color: white;
}

@media (max-width:768px) {
    .owner-quote .inside-content1 {
        padding-left: 0px;
    }

    .owner-quote .inside-content2 {
        padding-right: 0px;
    }

    .owner-quote .inside-content2 div {

        background-color: black;
    }

    .owner-quote {
        margin: 0px 10px;
    }
}

/* #Owner_info-content{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.section-padding {
    padding: 3rem 0rem;
}

.Infomation-cards .row .col-lg-6 .values-cards-home {
    background-color: rgb(27, 27, 27);
    padding: 20px 30px;
    margin: 20px 0px;
    position: relative;
    color: white;
}

.Infomation-cards .row .col-lg-6 div h5 {
    font-weight: 400;
    text-transform: capitalize;
}

.Infomation-cards .row .col-lg-6 .read-more-btn span {
    position: absolute;
    background-color: transparent;
    height: 2px;
    width: 30px;
    border-radius: 20px;
    left: 0px;
    bottom: -10px;
    transition: .5s;
    color: rgb(255, 255, 255);
    z-index: -1;
}

.Infomation-cards .row .col-lg-6 .read-more-btn a {
    color: rgb(255, 255, 255);
    z-index: 55;
}
/* 
.Infomation-cards .row .col-lg-6 .read-more-btn:hover a {
    color: rgb(0, 0, 0);
    z-index: 55;
} */

.Infomation-cards .row .col-lg-6:hover .read-more-btn span {
    position: absolute;
    background-color: #d6f604;
    height: 2px;
    width: 50px;
    border-radius: 20px;
    left: 0px;
    bottom: -10px;
    color: rgb(255, 255, 255);
    transition: .5s;
    z-index: -1;
}

.parent-div {
    position: relative;
}

.button-animation-without-absolute {
    position: relative;
}

.button-animation-without-absolute span {
    background-color: transparent;
    width: 20px;
    height: 2px;
    position: absolute;
    bottom: -8px;
    border-radius: 20px;
    left: -10px;
    transition: .5s;
}

.button-animation-without-absolute:hover span {
    background-color: #d6f604;
    width: 50px;
    height: 2px;
    position: absolute;
    bottom: -8px;
    border-radius: 20px;
    left: 0px;
    transition: .5s;
}

.section-heading-best-value {
    font-weight: 300;
    font-size: 50px;
    text-align: start;
}

#mySwiper {
    padding: 0px 0px;
}

.Blog-section {
    display: none;
}

@media (max-width:778px) {
    .Blog-section {
        display: block;
    }
}



/* blogmobile container */

@media (max-width:778px) {
    .Blog-section .container {
        background-color: rgb(0, 0, 0);
        color: white;
        /* padding: 20px; */
    }

    .Posted {
        display: flex;
        margin-top: 30px;
        align-items: center;
    }

    .Posted img {
        width: 50px;
    }


}

.top-section-heading-hr {

    height: 7px;
    width: 100px;
    /* margin: auto; */
    border-radius: 20px;
    background-color: #D4F604;
    opacity: 1;
    border: 1px solid #D4F604;
}