.section-heading{
    font-size: 3rem ;
    font-weight: 600;
    color: #000000;
    text-align: center;
    padding: 20px 0px;
}
.section-para{
    font-size: 15px;
    font-weight: 600;
    color: #000000;
}