.blog-carousal-card .left-side-img-blog {
    width: 30%;
    height: 30vh;
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;
}

.right-side-content-container {
    width: 70%;
    height: 30vh;
    overflow: hidden;
    background-color: white;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
}

.right-side-content-container div {
    padding: 0rem 1rem;
}
.right-side-content-container div p{
    margin-bottom: 40px;
    font-size: 18px;
}
.right-side-content-container div h6{
    font-size: 20px;
    font-weight: 600;
}
.right-side-content-container div span{
    font-size: 16px;
    color: #606060;
}

.blog-carousal-card {
    display: flex;

}

#blog-carousal .swiper-wrapper {
    height: 40vh;
    width: 100%;
}

#blog-carousal .swiper-pagination {
    width: 15%;
}
@media (max-width:778px){
    #blog-carousal{
        display: none;
    }
}

.custom-cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 50%;
    pointer-events: none; /* Allow pointer events to pass through */
    z-index: 9999; /* Ensure cursor stays on top of other elements */
    transition: transform 0.2s ease; /* Add transition effect */
  }
  
  .custom-cursor span {
    position: absolute;
    top: -20px;
    left: 20px;
    font-size: 14px;
    background-color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    pointer-events: none; /* Ensure span doesn't interfere with mouse events */
  }
  