.blog-section-spacer {
    padding: 1rem 0rem;
}

.blog-top-part {
    width: 100%;
    padding: 5rem 0rem;
}

h4 {
    font-size: 23px;
    color: #ffffff;
}

p {
    font-size: 18px;
    /* color: #333333; */
}

.blog-top-part img {
    width: 100%;
    /* margin: 2rem 0rem; */
}

.blog-top-part h6,
.blog-top-part h1 {
    text-align: center;
}

.blog-top-part h6 {
    font-size: 16px;
    color: black;
}

.blog-top-part h1 {
    font-size: 48px;
    font-weight: 600;
    color: black;
    padding: 0rem 11rem;
}

.blog-content-container {
    padding: 0rem 10rem;
}

.blog-content-container img {
    width: 100%;
}
.blog-content-container p{
    font-weight: 200;
    font-size: 16px;
}
@media (max-width:1000px) {

    .blog-top-part h1 {
        font-size: 48px;
        font-weight: 600;
        color: black;
        padding: 0rem 0rem;
    }
}

@media (min-width:700px) and (max-width:2000px) {
    .blog-content-container {
        padding: 0rem 10rem;
    }
}

@media (max-width:699px) {
    .blog-content-container {
        padding: 0rem 0rem;
    }
}

.blogAuthorDetails {
    display: flex;
    align-items: center;
    margin: 30px 0px;
}

.blogAuthorDetails div:nth-child(2) {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: center;
}

.blogAuthorDetails div:nth-child(2) p {
    margin: 0px;
}

::selection {
    background-color: #D4F604;
    color: #000000;
}

/* For selected text inside a specific element with class "my-element" */
.my-element::selection {
    background-color: #D4F604;
    color: #000000;
}