@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.range-module-using-props {
    padding: 4rem 0rem;
}

.range-module-using-props .ant-row {
    background-color: #F9F9F9;
    padding: 25px;
}

.top-range-container span {
    font-size: 18px;
    color: #606060;
}

.resource-Date-container {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.resourceAuthorName {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.resourceAuthorName p {
    margin-bottom: 0px;
    margin-left: 15px;
}

.left-side-content-container {
    padding-right: 20px;
}

.top-range-container {
    display: flex;
    align-items: center;
}

@media (max-width: 778px) {
    .order-lg-1 {
        order: 2;
    }

    .order-lg-2 {
        order: 1;
    }

    .top-range-container {
        display: none;
    }

    .range-module-using-props .ant-row {
        padding: 0px;
    }

    .left-side-content-container {
        padding: 20px 20px;
    }

    .range-module-using-props {
        padding: 0rem 0rem;
    }
    .resource-Date-container{
        margin-top: 0rem;
    }
}
.main-resource-heading h1{
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}