.singleResource-section{
    padding: 9rem 0rem;
    background-color: white;
}
.top-over-container{
    background-color: #F9F9F9;
    padding: 0px;
}
.left-side-container{
    padding: 2rem 2rem;
}
.top-lane{
    display: flex;
    align-items: center;
}
.top-lane span{
    padding-right: 10px;
}
.resources-author{
    display: flex;
    align-items: center;
}
.resources-author p{
    margin-bottom: 0px;
    margin-left: 20px;
    
}
.right-side-img-container{
    padding: 20px;
}
.right-side-img-container img{
    width: 100%;
}
.resources-left-container,
.resources-right-container{
    padding: 1.5rem;
}