.blog-section-change-back {
    padding-top: 6rem;
    background-color: #f2f2f2;
}

.blog-section-adjust {
    padding: 10rem 0rem;
}

.blog-section-adjust a {

    font-size: 14px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: absolute;
    /* bottom: 30px; */
    left: 20px;
    font-weight: 600;
    z-index: 22;
    display: flex;
    align-items: center;
}

.content-parent-container .button-animation {
    position: relative;
    height: 55px;
}

.blog-section-adjust .button-animation span {
    height: 40px;
    width: 20px;
    position: absolute;
    /* bottom: 20px; */
    left: 10px;
    background-color: #d6f60428;
    border-radius: 20px;
    transition: .5s;
    /* width: 100%; */
    margin-top: -9px;
}

.button-animation:hover span {
    height: 40px;
    width: 97px;
    transition: .5s;
    position: absolute;
    /* bottom: 5px; */
    margin-top: -9px;
    left: 10px;
    background-color: #d6f6045c;
    border-radius: 20px;
    /* width: 100%; */
}

.content-parent-container {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #000000;
}

.blog-inside-container {
    padding: 0rem 4rem;
}

.owner-tagline-name {
    color: white;
    font-size: 14px;
}

.owner-quote-text {
    color: white;
    font-size: 48px;
    font-weight: 600;
}

.blog-container-row {
    padding: 4rem 0rem;
}

.img-style-container {
    height: 100%;
    width: 100%;
    padding: 30px;

}

.img-style-container img {
    /* box-shadow: 50px -50px #F2F2F2; */

    width: 100%;
}

.blog-title-container {
    padding: 30px;
    display: flex;
    align-items: center;
    height: 100%;
}

.blog-title-container h1 {
    font-size: 32px;
}

@media (max-width:700px) {
    .blog-title-container {
        padding: 0px;
        display: flex;
        align-items: center;
        height: 100%;
    }

    .blog-inside-container {
        padding: 2rem 1rem;
    }

    .blog-section-adjust {
        padding: 2rem 0rem;
    }

    .Blog-section .blog-cards {
        margin: 20px 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.267);
        padding: 20px 0px;
    }

    .blogs-block {
        display: none;
    }

    .blog-section-change-back {
        padding-top: 6rem;
        background-color: #ffffff;
    }

}

.blog-title-container h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.blog-title-container p {
    font-size: 18px;
}

@media (max-width:778px) {
    .row-for-pc {
        display: none;
    }
}
.blog-top-img img {
    width: 100%;
}
@media (min-width:770px) and (max-width:900px) {
    .blog-inside-container {
        padding: 1rem 2rem;

    }

    .blog-top-img img {
        width: 184%;
    }
}