#Guide-section {
    background-color: black;

}

.section-heading-big {
    text-align: center;
    /* color: #D4F604; */
    font-size: 55px;
    margin-top: 15px;
}

.box {
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 30px;
    border-radius: 20px;
    margin: 20px 0px;
    transition: .5s;
}

.box:hover {
    transform: translatey(-10px);
    transition: .5s;
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 30px;
    border-radius: 20px;
    margin: 20px 0px;
}

.box .box-title {
    color: #D4F604;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
}

.box .paragraph {
    color: rgb(231, 231, 231);
}

.Guide-section .row {
    padding: 0rem 0rem;
}

.guide-container-mobile-para {
    display: none;
}

.blob-mobile-img {
    display: none;
}
@media (min-width:300px) and (max-width:500px){
    .blob-mobile-img {
        display: block;
        position: relative;
        padding: 28vh 0vh;
    }
 
}
@media (min-width:501px) and (max-width:600px){
    .blob-mobile-img {
        display: block;
        position: relative;
        padding: 28vh 0vh;
    }
}
#howitworks-heading{
    text-align: start;
    font-weight: 300;
    /* margin-top: 2rem; */
    color: #D4F604;
}
@media (max-width:600px) {
    #howitworks-heading{
        text-align: start;
        font-weight: 300;
        margin-top: 2rem;
        color: #D4F604;
    }
    .Guide-section .row {
        padding: 0rem 0rem;
    }

    .section-heading-big {
        text-align: center;
        /* color: #D4F604; */
        font-size: 30px;
        margin-top: 15px;
    }

    .box {
        border: 1px solid transparent;
        padding: 20px;
        border-radius: 20px;
        margin: 20px 0px;
        transition: .5s;
    }

    .box .paragraph {
        color: rgb(231, 231, 231);
        text-align: center;
    }

    .guide-container-mobile-para {
        display: block;
        color: white;
        font-size: 18px;
        text-align: center;
    }

    /* .Guide-section .container {
        padding: 0px;
    } */
   

    .blob-container {
        width: 100%;
        position: absolute;
        right: 0px;
        left: 0px;
        bottom: 0;
        display: block;
        z-index: -1;
    }

    .blob-container img {
        width: 100%;
    }

    .mobile-image img {
        width: 230px;
        margin: auto;
        display: flex;
    }

    .mobile-image {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
  


}

.box hr {
    height: 2px;
    background-color: #D4F604;
    /* opacity: 1; */
    width: 30px;
    opacity: 0;
    transition: .5s;
    margin: 8px 0px;
}

.box:hover hr {
    height: 2px;
    background-color: #D4F604;
    /* opacity: 1; */
    width: 50px;
    opacity: 1;
    transition: .5s;
}

.box-top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.numbering span{
    font-size: 25px;
    font-weight: bold;
    color: #333333;
}
.box-top-header img {
    background-color: #D4F604;
    width: 48px;
    height: 48px;
    padding: 10px;
    aspect-ratio: 3/2;
    border-radius: 50%;
    object-fit: contain;
    margin-right: 15px;

}

@media (max-width:600px) {
    .box-top-header img {
        background-color: #D4F604;
        width: 48px;
        height: 48px;
        padding: 10px;
        aspect-ratio: 3/2;
        border-radius: 50%;
        object-fit: contain;
        margin: 10px auto;


    }

    .box-top-header {
        display: flex;
        /* flex-direction: column; */
        /* justify-content: center; */
        margin: auto;
        text-align: center;
    }
    .box-title{
        padding-left: 10px;
    }
}