#Guide-section{
    background-color: black;

}
.section-heading-big{
    text-align: center;
    /* color: #D4F604; */
    font-size: 55px;
}
.box{
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 30px;
    border-radius: 20px;
    margin: 20px 0px;
    transition: .5s;
}
.box:hover{
    transform: translatey(-10px);
    transition: .5s;
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 30px;
    border-radius: 20px;
    margin: 20px 0px;
}
.box .box-title{
    color: #D4F604;
    font-size: 20px;
    margin-bottom: 0px;
}
.box .paragraph{
    color: rgb(231, 231, 231);
}
.Guide-section .row{
    padding: 0rem 8rem;
}
@media (max-width:600px){
    .Guide-section .row{
        padding: 0rem 0rem;
    }
}

.box hr{
    height: 2px ;
    background-color: #D4F604;
    /* opacity: 1; */
    width: 30px;
    opacity: 0;
    transition: .5s;
}
.box:hover hr{
    height: 2px ;
    background-color: #D4F604;
    /* opacity: 1; */
    width: 50px;
    opacity: 1;
    transition: .5s;
}
.box-top-header{
    display: flex;
}
.box-top-header img{
    background-color: #D4F604;
    width: 27px;
    height: 27px;
    padding: 4px;
    aspect-ratio: 3/2;
    border-radius: 50%;
    object-fit: contain;
    margin-right: 15px;

}