@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

p {
    font-family: "Inter", sans-serif;
    /* font-weight: lighter; */
    /* color: white; */
}

h4 {
    margin-bottom: 20px;
    color: white;
}

.singleResource-section {
    padding: 9rem 0rem;
    background-color: white;
}

.top-over-container {
    background-color: #F9F9F9;
    padding: 0px;
}

.left-side-container {
    padding: 2rem 2rem;
}

.top-lane {
    display: flex;
    align-items: center;
}

.top-lane span {
    padding-right: 10px;
}

.resources-author {
    display: flex;
    align-items: center;
}

.resources-author p {
    margin-bottom: 0px;
    margin-left: 20px;

}

.right-side-img-container {
    padding: 20px;
}

.right-side-img-container img {
    width: 100%;
}

.resources-left-container,
.resources-right-container {
    padding: 1.5rem;
}

.Botom-body-edit {
    background-color: #F2F2F2;
    padding: 3rem 1rem;
    border-radius: 20px;
}

.Botom-body-edit h4 {
    font-size: 18px;
    color: #ffffff;
    padding-bottom: 40px;
    text-align: center;
}

.Botom-body-edit .ant-input {
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.Botom-body-edit .ant-input::placeholder {
    text-align: center;
    /* font-size: 18px; */

}

.Botom-body-edit button {
    width: 100%;
    background-color: #D4F604;
    border: none;
    padding: 10px 20px;
    height: 42px;
    border-radius: 5px;
}

.Botom-body-edit button:hover {
    width: 100%;
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    height: 42px;
}

.resources-left-container ul {
    list-style: none;
    padding: 0px;
    margin-bottom: 30px;
}

.resources-left-container ul li {
    margin: 10px 0px;
    font-size: 18px;
    font-weight: 600;
}

.resources-left-container h6 {
    font-size: 14px;
    font-weight: 700;
}

.resources-right-container p {
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    margin: 0px;
    font-family: "Inter", sans-serif;
}

.padding-slite {
    padding: 1rem 0rem;
}

.RealEstate-Box {
    margin: 20px 0px;
    padding: 30px 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    transition: .3s;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 16px;
}

.RealEstate-Box:hover {
    margin: 20px 0px;
    padding: 30px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: rgb(27, 27, 27);
    transition: .3s;
    border-radius: 16px;
    transform: scale(1.01);
}

.RealEstate-Box h6,
.historicalContextBox h6,
.CurrentUsBox h6 {
    font-weight: 600;
    font-size: 18px;
}

.historicalContextBox,
.CurrentUsBox {
    padding: 20px 20px;
}

/* .ImpotanceOfRealState p:nth-child(3) {
    padding-top: 20px;
} */
.only-for-mobile-view {
    display: none;
}

#commonassetscontainer .carousal-btn-styling button {
    border: none;
    font-size: 30px;
    margin: 0px 0px;
}

.carousal-container {
    padding: 50px;
    background-color: rgb(27, 27, 27);
    border-radius: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.carousal-container hr {
    background-color: white;
    opacity: 1;
    border: 1px solid rgb(85, 85, 85);
}
.pc-view-14{
    display: block;
}
.mobile-view-14{
    display: none;
}
@media (max-width:778px) {
    .pc-view-14{
        display: none;
    }
    .mobile-view-14{
        display: block;
    }
    .resources-left-container,
    .resources-right-container {
        padding: 0.5rem;
    }

    .hide-on-mobile {
        display: none;
    }

    .only-for-mobile-view {
        display: block;
    }

    .only-for-pc-view {
        display: none;
    }
/* 
    .carousal-btn-styling {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    } */

    .carousal-container {
        padding: 20px;
        background-color: rgb(27, 27, 27);
        border-radius: 20px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    /* .carousal-btn-styling button {
        margin: 0px 20px;
        padding: 10px;
        border-radius: 50%;
        font-size: 20px;
        width: 50px;
        background-color: white;
        border: 1px solid #EAECF0;
        color: #667085;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

    } */

    /* .slick-dots{
        background-color: #000000;
    } */
    .slick-dots li {
        background-color: #333333;
    }

    :where(.css-dev-only-do-not-override-djtmh8).ant-carousel .slick-dots li.slick-active {
        background-color: #B6B6B6;
    }

    :where(.css-dev-only-do-not-override-djtmh8).ant-carousel .slick-dots li.slick-active button {
        opacity: 0;
    }

    :where(.css-dev-only-do-not-override-djtmh8).ant-carousel .slick-dots li {
        width: 16px;
        height: 4px;
        border-radius: 6px;
    }

    :where(.css-dev-only-do-not-override-djtmh8).ant-carousel .slick-dots li button {
        opacity: 0;
    }

    /* #commonassetscontainer .carousal-btn-styling button {
        border: none;
        font-size: 30px;
        margin: 0px 0px;
    } */
    .resourcestwo .all-resources-box {
        display: block;
    }
}



#commonassetscontainer {
    position: relative;

}

#commonassetscontainer .carousal-btn-styling {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.only_bottom_border {
    padding: 30px 20px;
    border-bottom: 1px solid #EBEBEB;
}

.only_bottom_border h6 {
    font-weight: 700;
    font-size: 18px;
}

.only_bottom_border p {
    font-size: 16px;
}

h4 {
    font-size: 23px;
    color: #ffffff;
    margin-top: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

h6 {
    color: #ffffff;
    font-weight: 600;
    /* font-weight: bold; */
    font-size: 18px;
    font-family: "Inter", sans-serif;
}


/* .EvalutionCardbox{

        margin: 20px 0px;
        padding: 30px 20px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        border-radius: 16px;
    
} */
.EvalutionCardbox {
    margin: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    height: 100%;
    border-radius: 16px;
    transition: .3s;
    border: 2px solid rgb(51, 51, 51);
}

.EvalutionCardbox:hover {
    margin: 20px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 100%;
    border-radius: 16px;
    transition: .3s;
}

.visible-for-pc{
    display: block;
}
.visible-for-mobile{
    display: none;
}
@media(max-width:700px) {
    .visible-for-pc{
        display: none;
    }
    .visible-for-mobile{
        display: block;
    }
    .EvalutionCardbox:hover {
        margin: 20px;
        padding: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        height: 100%;
        border-radius: 16px;
        transition: .3s;
    }
}

.EvalutionCardbox hr {
    opacity: 1;
}

.EvalutionCardbox h6 {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.pros-cons>p {
    margin-top: 1rem;
}

.carousal-bottom-content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 40px;
}

.carousal-bottom-content-container ul {
    margin: 0px 0px;
    padding: 0px;
    list-style: none;
}

.carousal-bottom-content-container ul li:nth-child(1) {
    margin: 0px 0px;
}

.carousal-bottom-content-container ul li {
    margin: 10px 0px;
}

.carousal-bottom-content-container p {
    width: 70%;
}

@media (min-width:100px) and (max-width:1200px) {
    .EvalutionCardbox {
        margin: 20px;
        padding: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        height: 100%;
        border-radius: 16px;
        transition: .3s;
    }
}

@media (max-width:700px) {
    .EvalutionCardbox {
        margin: 20px;
        padding: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        height: 100%;
        border-radius: 16px;
        transition: .3s;
    }

    .pros-cons .ant-col {
        margin: 10px 0px;
    }

    .carousal-bottom-content-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 40px 40px;
    }

    .carousal-bottom-content-container ul {
        margin: 30px 0px;
        padding: 0px;
        list-style: none;
    }

    .carousal-bottom-content-container p {
        width: 100%;
    }
}

#pros-cons button{
    border: none;
    margin: 0px 20px;
    width: 100px;
    padding: 6px 20px;
    border-radius: 10px;
}

#commonassetscontainer ul li {
    font-size: 18px;
    color: #ffffff;
}

ul li {
    font-size: 18px;
}

.heading-vertical-line-edit {
    display: flex;
    align-items: center;
}

.heading-vertical-line-edit h6 {
    margin-bottom: 0px;
    margin-left: 15px;
}

.heading-vertical-line-edit span {
    height: 10px;
    border-radius: 4px;
    background-color: #D4F604;
    width: 30px;
}

#pros-cons :where(.css-11xg00t).ant-tabs-top>.ant-tabs-nav .ant-tabs-ink-bar {
    width: 26.8542px;
    height: 30px;
    left: 13.4271px;
    transform: translateX(-50%);
    background-color: #D4F604;
    border-radius: 10px;
}

#pros-cons :where(.css-11xg00t).ant-tabs .ant-tabs-tab+.ant-tabs-tab {
    margin: 0px;
}

#pros-cons :where(.css-11xg00t).ant-tabs .ant-tabs-tab {
    /* background: #D4F604; */
    width: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 0px 20px;
    padding: 4px 0px;
    background-color: #606060;
}

#pros-cons :where(.css-11xg00t).ant-tabs .ant-tabs-tab-btn {
    color: rgb(255, 255, 255);
    z-index: 55;
    /* background-color: red; */
}
ul li{
    color: white;
}